<!-- your html code here -->
<div class="backcolor bg-white py-5">
  <div class="row  d-flex justify-content-start">
    <div class="container w-75">
      <h1>Contact</h1>
      <p>Donec ullam corper nulla non metus auctor fringillia. Vestibulum id ligula porta felis euismod semper.
        Praesent. commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>

  <div class="container-fluid w-50 border p-4 bg-light">
    <div class="mb-3 d-flex justify-content-between ">
      <label for="exampleFormControlInput1" class="form-label text-end w-25">Your E-mail</label>
      <input type="email" class="form-control w-75 mx-3" id="exampleFormControlInput1" placeholder="Your email" required>
    </div>

    <div class="mb-3 d-flex justify-content-between ">
      <label for="floatingTextarea" class="form-label text-end w-25">Your message</label>
      <textarea class="form-control w-75 mx-3" placeholder="Place your message here..." id="floatingTextarea"
        required></textarea>
    </div>
    <div class="d-flex justify-content-end ">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>

  </div>
</div>