<!-- your html code here -->
<div class="first_heading container-fluid d-flex p-5 justify-content-center">
    <div>
        <div class="d-flex gap-2">
            <h2>This First Heading</h2>
            <h2 class="text-secondary"> Will Catch Your Eye</h2>
        </div>
        <p class="pe-4 fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reiciendis, accusantium accusamus nam ipsa unde harum, quia est odio sunt facilis perspiciatis debitis voluptate, similique impedit distinctio in voluptates repellendus! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est tenetur facere architecto facilis voluptate laborum omnis itaque non quos reiciendis dolorum quae possimus eius sed corrupti earum sequi, laboriosam ipsam!</p>
    </div>
    <img class="rounded-circle p-3" src="./assets/img/1.jpg" alt="Racoon">
</div>