<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-4 text-center">
            <img src="./assets/img/2.jpg" class="img-fluid rounded-circle" alt="Teclado" width="250" 
            height="250">
        </div>
        <div class="col-md-8">
            
            <h1>
                The Second Heading <span class="text-muted">is pretty cool too</span>
            </h1>


            <p>Donec ullancorper nulla non metus auctor fringilla. Vestioulum id ligula porta felis euismod semper. Present commodo cursus magna, vel scelerisque nisi consectelur.
                Fusce dapious, tellus ac cursus commodo.</p>
        </div>
    </div>
</div>